fastapi
uvicorn
google-generativeai
groq
amadeus
python-dotenv
requests
pydantic
protobuf
sqlalchemy
mysql-connector-python
bcrypt
python-jose[cryptography]
passlib[bcrypt]
python-multipart
email-validator
psycopg2-binary
requests

